/* Generics */

*{ 
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

/* Utils */

.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* My css */

header{ 
    padding: 0 30px;
    height: 100px;
    line-height: 100px;
    background-color: darkred;
}

h1{
    display: inline;
}

label{
    padding: 0 50px;
}

#grid{
    margin-top: 50px;
    width: 700px;
    height: 700px;
    border: 1px dotted black;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: 70px;
    height: 70px;
    cursor: pointer;
}